@import "styles/languages/css";
atom-text-editor {
  color: #fff;
  background-color: #000;
}
atom-text-editor .gutter {
  color: #ff0000;
  background-color: #000;
}
atom-text-editor .gutter .line-number.cursor-line {
  background-color: #ff0000;
}
atom-text-editor .wrap-guide {
  background-color: rgba(255, 255, 255, 0.01);
}
atom-text-editor .invisible-character {
  color: #36393e;
}
atom-text-editor .indent-guide {
  color: rgba(255, 255, 255, 0.15);
}
atom-text-editor .cursor {
  border-color: #F8F8F0;
  transition: opacity 0.5s;
}
atom-text-editor .selection .region {
  background-color: #333333;
}
atom-text-editor .fold-marker:after,
atom-text-editor .gutter .line-number.folded {
  color: #EC0228;
}
@-webkit-keyframes bracketanimation {
  from {
    border-width: 3px;
    border-color: #de9536;
    left: -3px;
    top: -2px;
  }
  50% {
    border-width: 6px;
    border-color: #de9536;
    left: -3px;
    top: -4px;
  }
  to {
    border-width: 1px;
    border-color: rgba(222, 149, 54, 0.5);
    left: 0px;
    top: 0px;
  }
}
atom-text-editor .bracket-matcher .region {
  border-bottom: 0;
}
atom-text-editor .bracket-matcher .region:after {
  content: "";
  -webkit-animation-name: bracketanimation;
  -webkit-animation-duration: .5s;
  border: 1px solid rgba(0, 255, 0, 0.7);
  border-style: solid;
  border-radius: 3px;
  background-color: rgba(0, 255, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
}
atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: 1px solid #2aa198;
}
atom-text-editor .search-results .syntax--marker.current-result .region {
  border: 1px solid #c5c8c6;
}
.syntax--comment {
  color: #66CC33;
}
.syntax--string {
  color: #FE0A67;
}
.syntax--string.syntax--quoted {
  color: #FE0A67;
}
.syntax--string.syntax--regexp {
  color: #ff0000;
}
.syntax--string.syntax--regexp .syntax--source.syntax--ruby.syntax--embedded {
  color: #FF5425;
}
.syntax--string.syntax--other.syntax--link {
  color: #ff0000;
}
.syntax--constant.syntax--numeric {
  color: #FF0000;
}
.syntax--constant.syntax--numeric.syntax--integer,
.syntax--constant.syntax--numeric.syntax--decimal {
  color: #FF0000;
}
.syntax--constant.syntax--language {
  color: #935735;
}
.syntax--constant.syntax--character,
.syntax--constant.syntax--other {
  color: #935735;
}
.syntax--constant.syntax--character.syntax--placeholder,
.syntax--constant.syntax--other.syntax--placeholder {
  color: #935735;
}
.syntax--variable {
  color: #8E44AD;
}
.syntax--variable.syntax--interpolation {
  color: #cc0000;
}
.syntax--variable.syntax--parameter.syntax--function {
  color: #FF5425;
}
.syntax--variable.syntax--language {
  color: #522764;
}
.syntax--variable.syntax--variable.syntax--object {
  color: #FF5425;
}
.syntax--keyword {
  color: #363FCC;
}
.syntax--keyword.syntax-operator {
  color: #FFFA12;
}
.syntax--keyword.syntax-operator.syntax--assignment {
  color: #FFFF00;
}
.syntax--keyword.syntax-operator.syntax--comparison {
  color: #94571f;
}
.syntax--keyword.syntax-operator.syntax--logical {
  color: #6644CC;
}
.syntax--keyword.syntax--other.syntax--special-method {
  color: #268bd2;
}
.syntax--keyword.syntax--other.syntax--unit {
  color: #FF5425;
}
.syntax--storage {
  color: #E67E22;
}
.syntax--storage.syntax--type,
.syntax--storage.syntax--function {
  color: #124AFB;
}
.syntax--entity.syntax--name.syntax--class {
  color: #124AFB;
}
.syntax--entity.syntax--name.syntax--type {
  color: #5499FC;
}
.syntax--entity.syntax--name.syntax--function {
  color: #124AFB;
}
.syntax--entity.syntax--other.syntax--attribute-name {
  color: #34AEDA;
}
.syntax--syntax--support.syntax--function {
  color: #124AFB;
}
.syntax--syntax--support.syntax--function.syntax--builtin {
  color: #8ABEB7;
}
.syntax--syntax--support.syntax--type {
  color: #5499FC;
}
.syntax--syntax--support.syntax--class {
  color: #124AFB;
}
.syntax--syntax--tag.syntax--entity.syntax--name {
  color: #FD971F;
}
.syntax--syntax--tag.syntax--punctuation.syntax--definition.syntax--html,
.syntax--syntax--tag.syntax--punctuation.syntax--definition.syntax--begin,
.syntax--syntax--tag.syntax--punctuation.syntax--definition.syntax--end {
  color: #66CC33;
}
.syntax--meta.syntax--function {
  color: #124AFB;
}
.syntax--meta.syntax--function-call {
  color: #08F4FC;
}
.syntax--meta.syntax--item-access {
  color: #008080;
}
meta.syntax--punctuation.syntax--section.syntax--dictionary {
  color: #FFFA08;
}
.syntax--punctuation.syntax--separator {
  color: #FFFF00;
}
.syntax--punctuation.syntax--separator.syntax--namespace {
  color: #FFFF00;
}
.syntax--punctuation.syntax--section.syntax--function {
  color: #9807C3;
}
.syntax--punctuation.syntax--section.syntax--dictionary {
  color: #FFFA08;
}
.syntax--punctuation.syntax--section.syntax--array {
  color: #64C605;
}
.syntax--punctuation.syntax--definition.syntax--array {
  color: #64C605;
}
.syntax--punctuation.syntax--definition.syntax--arguments {
  color: #64C605;
}
.syntax--punctuation.syntax--definition.syntax--string {
  color: #FE0A67;
}
.syntax--invalid.syntax--deprecated {
  color: #E6F316;
  text-decoration: underline;
}
.syntax--invalid.syntax--illegal {
  color: #ff0000;
  text-decoration: underline;
}
.syntax--none {
  color: #fff;
}
.syntax--source.syntax--ansible .syntax--text {
  color: #EC0228;
}
.syntax--source.syntax--ansible .syntax--keyword.syntax--other {
  color: #FD971F;
}
.syntax--source.syntax--ansible .syntax--storage {
  color: #E67E22;
}
.syntax--source.syntax--ansible .syntax--storage.syntax--type {
  color: #124AFB;
}
.syntax--source.syntax--ansible .syntax--string.syntax--quoted.syntax--double {
  color: #FE0A67;
}
.syntax--source.syntax--ansible .syntax--constant.syntax--numeric {
  color: #EC0228;
}
.syntax--source.syntax--ansible .syntax--entity.syntax--name.syntax--tag {
  color: #EC0228;
}
.syntax--source.syntax--c .syntax--meta.syntax--preprocessor {
  color: #ff0000;
}
.syntax--source.syntax--c .syntax--keyword.syntax--control.syntax--directive {
  color: #FF5425;
}
.syntax--source.syntax--c .syntax--punctuation.syntax--string {
  color: #2aa198;
}
.syntax--source.syntax--c .syntax--constant {
  color: #FF5425;
}
.syntax--source.syntax--c .syntax--constant.syntax--numeric,
.syntax--source.syntax--c .syntax--constant.syntax--language.syntax--c {
  color: #2aa198;
}
.syntax--source.syntax--c .syntax--constant.syntax--other.syntax--placeholder {
  color: #5499FC;
}
.syntax--source.syntax--c .syntax--keyword.syntax--control.syntax--directive.syntax--define {
  color: #268bd2;
}
.syntax--source.syntax--c .syntax--storage.syntax--type {
  color: #268bd2;
}
.syntax--source.syntax--c .syntax--entity {
  color: #3387CC;
}
.syntax--source.syntax--c .syntax--entity.syntax--name.syntax--function.syntax--preprocessor {
  color: #cc7833;
}
.syntax--source.syntax--c .syntax--support.syntax--type {
  color: #268bd2;
}
.syntax--source.syntax--c .syntax--support.syntax--type.syntax--sys-types {
  color: #9C09FF;
}
.syntax--source.syntax--c .syntax--support.syntax--posix-reserved {
  color: #3387CC;
}
.syntax--source.syntax--c .syntax--variable.syntax--other.syntax--dot-access {
  color: #8E44AD;
}
.syntax--source.syntax--c .syntax--variable.syntax--other.syntax--dot-access {
  color: #E6F316;
}
.syntax--source.syntax--c .syntax--variable.syntax--parameter.syntax--preprocessor {
  color: #ff0000;
}
.syntax--source.syntax--coffee .syntax--support.syntax--class {
  color: #40F709;
}
.syntax--source.syntax--coffee .syntax--variable,
.syntax--source.syntax--coffee .syntax--entity.syntax--name.syntax--function,
.syntax--source.syntax--coffee .syntax--entity.syntax--name.syntax--class {
  color: #268bd2;
}
.syntax--source.syntax--coffee .syntax--variable.syntax--parameter.syntax--function {
  color: #8E44AD;
}
.syntax--source.syntax--coffee .syntax--variable.syntax--other.syntax--readwrite {
  color: #40F709;
}
.syntax--source.syntax--coffee .syntax--storage.syntax--type.syntax--function {
  color: #E67E22;
}
.syntax--source.syntax--coffee .syntax--entity.syntax--name {
  color: #fff;
}
.syntax--source.syntax--coffee .syntax--meta.syntax--brace.syntax--round,
.syntax--source.syntax--coffee .syntax--meta.syntax--brace.syntax--square {
  color: #FFFA08;
}
.syntax--source.syntax--coffee .syntax--meta.syntax--delimiter {
  color: #FFFF00;
}
.syntax--source.syntax--coffee .syntax--storage.syntax--type.syntax--class {
  color: #40F709;
}
.syntax--source.syntax--coffee .syntax--punctuation.syntax--terminator {
  color: #FFFF00;
}
.syntax--source.syntax--coffee .syntax--punctuation.syntax--section.syntax--embedded {
  color: #ff0000;
}
.syntax--source.syntax--coffee .syntax--constant.syntax--numeric {
  color: #EC0228;
}
.syntax--source.syntax--coffee .syntax--constant.syntax--language.syntax--boolean {
  color: #E6F316;
}
.syntax--source.syntax--cpp .syntax--meta.syntax--preprocessor {
  color: #ff0000;
}
.syntax--source.syntax--cpp .syntax--keyword.syntax--control.syntax--directive {
  color: #FF5425;
}
.syntax--source.syntax--cpp .syntax--punctuation.syntax--string {
  color: #2aa198;
}
.syntax--source.syntax--cpp .syntax--constant {
  color: #FF5425;
}
.syntax--source.syntax--cpp .syntax--constant.syntax--numeric,
.syntax--source.syntax--cpp .syntax--constant.syntax--language.syntax--c {
  color: #2aa198;
}
.syntax--source.syntax--cpp .syntax--storage {
  color: #E6F316;
}
.syntax--source.syntax--cpp .syntax--entity {
  color: #3387CC;
}
.syntax--source.syntax--cpp .syntax--entity.syntax--name.syntax--function.syntax--preprocessor {
  color: #ff0000;
}
.syntax--source.syntax--cpp .syntax--support.syntax--type {
  color: #E6F316;
}
.syntax--source.syntax--cpp .syntax--support.syntax--type.syntax--posix-reserved {
  color: #3387CC;
}
.syntax--source.syntax--cpp .syntax--variable.syntax--other.syntax--dot-access {
  color: #8E44AD;
}
.syntax--source.syntax--cpp .syntax--variable.syntax--parameter.syntax--preprocessor {
  color: #ff0000;
}
.syntax--source.syntax--cs .syntax--constant.syntax--character.syntax--escape {
  color: #9C09FF;
}
.syntax--source.syntax--cs .syntax--entity.syntax--name.syntax--type.syntax--class {
  color: #40F709;
}
.syntax--source.syntax--cs .syntax--entity.syntax--name.syntax--type.syntax--namespace {
  color: #268bd2;
  font-weight: normal;
}
.syntax--source.syntax--cs .syntax--meta {
  color: #fff;
}
.syntax--source.syntax--cs .syntax--meta.syntax--class {
  color: #124AFB;
}
.syntax--source.syntax--cs .syntax--meta.syntax--method {
  color: #cb4622;
}
.syntax--source.syntax--cs .syntax--meta.syntax--method.syntax--body {
  color: #fff;
}
.syntax--source.syntax--cs .syntax--meta.syntax--method.syntax--identifier {
  color: #34AEDA;
}
.syntax--source.syntax--cs .syntax--meta.syntax--method-call {
  color: #cb4622;
}
.syntax--source.syntax--cs .syntax--meta.syntax--namespace {
  color: #40F709;
}
.syntax--source.syntax--cs .syntax--meta.syntax--namespace.syntax--body {
  color: #fff;
}
.syntax--source.syntax--cs .syntax--punctuation.syntax--definition {
  color: #152fb6;
}
.syntax--source.syntax--cs .syntax--punctuation.syntax--definition.syntax--comment {
  color: #66CC33;
}
.syntax--source.syntax--cs .syntax--punctuation.syntax--definition.syntax--string {
  color: #FE0A67;
}
.syntax--source.syntax--cs .syntax--punctuation.syntax--section {
  color: #fff;
}
.syntax--source.syntax--cs .syntax--variable.syntax--parameter.syntax--function {
  color: #124AFB;
}
.syntax--source.syntax--go .syntax--operator {
  color: #fff;
}
.syntax--source.syntax--go .syntax--operator.syntax--assignment {
  color: #40F709;
}
.syntax--source.syntax--groovy .syntax--keyword.syntax--operator {
  color: #FFFA12;
}
.syntax--source.syntax--groovy .syntax--keyword.syntax--import {
  color: #363FCC;
}
.syntax--source.syntax--groovy .syntax--keyword.syntax--control {
  color: #363FCC;
}
.syntax--source.syntax--groovy .syntax--keyword.syntax--control.syntax--exception {
  color: #363FCC;
}
.syntax--source.syntax--groovy .syntax--storage.syntax--modifier.syntax--import {
  color: #66CC33;
}
.syntax--source.syntax--groovy .syntax--meta.syntax--class .syntax--storage.syntax--modifier {
  color: #124AFB;
}
.syntax--source.syntax--groovy .syntax--meta.syntax--class .syntax--meta.syntax--class.syntax--identifier .syntax--entity.syntax--name.syntax--type.syntax--class {
  color: #268bd2;
}
.syntax--source.syntax--groovy .syntax--storage.syntax--type {
  color: #0ee3e3;
}
.syntax--source.syntax--groovy .syntax--storage.syntax--type.syntax--primitive {
  color: #2aa198;
}
.syntax--source.syntax--groovy .syntax--storage.syntax--type.syntax--array {
  color: #5499FC;
}
.syntax--source.syntax--groovy .syntax--storage.syntax--type.syntax--annotation {
  color: #61371f;
}
.syntax--source.syntax--groovy .syntax--storage.syntax--type.syntax--def {
  color: #152fb6;
}
.syntax--source.syntax--groovy .syntax--constant.syntax--numeric {
  color: #EC0228;
}
.syntax--source.syntax--groovy .syntax--constant {
  color: #FF5425;
}
.syntax--source.syntax--groovy .syntax--constant.syntax--other {
  color: #5499FC;
}
.syntax--source.syntax--groovy .syntax--constant.syntax--other.syntax--key {
  color: #5499FC;
}
.syntax--source.syntax--groovy .syntax--meta.syntax--method-call {
  color: #2ECC71;
}
.syntax--source.syntax--groovy .syntax--meta.syntax--method-call .syntax--meta.syntax--method {
  color: #cb4622;
}
.syntax--source.syntax--groovy .syntax--punctuation {
  color: #E6F316;
}
.syntax--source.syntax--groovy .syntax--punctuation.syntax--definition {
  color: #E6F316;
}
.syntax--source.syntax--groovy .syntax--punctuation.syntax--definition.syntax--seperator {
  color: #E6F316;
}
.syntax--source.syntax--groovy .syntax--punctuation.syntax--definition.syntax--seperator.syntax--parameter {
  color: #E6F316;
}
.syntax--source.syntax--groovy .syntax--punctuation.syntax--definition.syntax--method-parameters {
  color: #E6F316;
}
.syntax--source.syntax--html .syntax--entity.syntax--name.syntax--tag.syntax--block {
  color: #EC0228;
}
.syntax--source.syntax--html .syntax--entity.syntax--name.syntax--tag.syntax--inline.syntax--any {
  color: #40F709;
}
.syntax--source.syntax--html .syntax--entity.syntax--other.syntax--attribute-name {
  font-style: italic;
}
.syntax--source.syntax--html .syntax--punctuation.syntax--definition.syntax--tag.syntax--end {
  color: #40F709;
}
.syntax--meta.syntax--tag.syntax--sgml.syntax--doctype.syntax--html {
  color: #EC0228;
}
.syntax--punctuation.syntax--definition.syntax--tag.syntax--html {
  color: #fff;
}
.syntax--text.syntax--html.syntax--basic {
  color: #fff;
}
.syntax--source.syntax--java .syntax--keyword.syntax--operator {
  color: #FFFA12;
}
.syntax--source.syntax--java .syntax--keyword.syntax--import {
  color: #363FCC;
}
.syntax--source.syntax--java .syntax--storage.syntax--modifier.syntax--import {
  color: #66CC33;
}
.syntax--source.syntax--java .syntax--meta.syntax--class .syntax--storage.syntax--modifier {
  color: #124AFB;
}
.syntax--source.syntax--java .syntax--meta.syntax--class .syntax--meta.syntax--class.syntax--identifier .syntax--entity.syntax--name.syntax--type.syntax--class {
  color: #268bd2;
}
.syntax--source.syntax--java .syntax--storage.syntax--type {
  color: #0ee3e3;
}
.syntax--source.syntax--java .syntax--storage.syntax--type.syntax--primitive {
  color: #2aa198;
}
.syntax--source.syntax--java .syntax--storage.syntax--type.syntax--array {
  color: #5499FC;
}
.syntax--source.syntax--java .syntax--storage.syntax--type.syntax--annotation {
  color: #61371f;
}
.syntax--source.syntax--java .syntax--constant.syntax--numeric {
  color: #EC0228;
}
.syntax--source.syntax--java .syntax--constant.syntax--other {
  color: #FF5425;
}
.syntax--source.syntax--java .syntax--meta.syntax--method-call {
  color: #2ECC71;
}
.syntax--source.syntax--java .syntax--meta.syntax--method-call .syntax--meta.syntax--method {
  color: #cb4622;
}
.syntax--source.syntax--java .syntax--meta.syntax--method-call .syntax--punctuation.syntax--definition.syntax--seperator.syntax--parameter {
  color: #E6F316;
}
.syntax--source.syntax--java .syntax--punctuation.syntax--definition.syntax--method-parameters {
  color: #95A5A6;
}
.syntax--source.syntax--js .syntax--constant {
  color: #935735;
}
.syntax--source.syntax--js .syntax--comma {
  color: #FFF000;
}
.syntax--source.syntax--js .syntax--support.syntax--class {
  color: #124AFB;
}
.syntax--source.syntax--js .syntax--entity.syntax--name.syntax--type {
  color: #E6F316;
}
.syntax--source.syntax--js .syntax--entity.syntax--name {
  color: #fff;
}
.syntax--source.syntax--js .syntax--meta.syntax--brace {
  color: #FFFA08;
}
.syntax--source.syntax--js .syntax--keyword {
  color: #363FCC;
}
.syntax--source.syntax--js .syntax--keyword.syntax--operator.syntax--new {
  color: #FFFA12;
}
.syntax--source.syntax--js .syntax--keyword.syntax--control {
  color: #40F709;
}
.syntax--source.syntax--js .syntax--keyword.syntax--control.syntax--regexp {
  color: #2aa198;
}
.syntax--source.syntax--js .syntax--variable {
  color: #8E44AD;
}
.syntax--source.syntax--js .syntax--variable.syntax--parameter {
  color: #FD971F;
}
.syntax--source.syntax--js .syntax--regexp {
  color: #2aa198;
}
.syntax--source.syntax--js .syntax--support.syntax--function {
  color: #124AFB;
}
.syntax--source.syntax--js .syntax--support.syntax--constant {
  color: #935735;
}
.syntax--source.syntax--js .syntax--constant.syntax--numeric {
  color: #FF0000;
}
.syntax--source.syntax--js .syntax--punctuation.syntax--terminator.syntax--statement {
  color: #FFFF00;
}
.syntax--source.syntax--js .syntax--meta.syntax--delimiter.syntax--method.syntax--period {
  color: #FFFF00;
}
.syntax--source.syntax--js .syntax--meta.syntax--brace.syntax--square {
  color: #64C605;
}
.syntax--source.syntax--js .syntax--meta.syntax--brace.syntax--curly {
  color: #FFFA08;
}
.syntax--source.syntax--js .syntax--string.syntax--quoted.syntax--template .syntax--embedded.syntax--source {
  color: #fff;
}
.syntax--source.syntax--js .syntax--string.syntax--quoted.syntax--template .syntax--embedded.syntax--source > .syntax--embedded.syntax--punctuation {
  color: #ff0000;
}
.syntax--source.syntax--js.syntax--embedded .syntax--entity.syntax--name.syntax--tag {
  color: #268bd2;
}
.syntax--source.syntax--js.syntax--jsx .syntax--entity.syntax--name.syntax--tag {
  color: #268bd2;
}
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json {
  color: #34AEDA;
}
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--string.syntax--quoted.syntax--json {
  color: #5499FC;
}
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--value.syntax--json > .syntax--string.syntax--json {
  color: #FE0A67;
}
.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--value.syntax--json > .syntax--array.syntax--json > .syntax--string.syntax--json {
  color: #FE0A67;
}
.syntax--source.syntax--json .syntax--punctuation.syntax--definition.syntax--dictionary.syntax--json.syntax--begin,
.syntax--source.syntax--json .syntax--punctuation.syntax--definition.syntax--dictionary.syntax--json.syntax--end {
  color: #FFFA08;
}
.syntax--source.syntax--json .syntax--punctuation.syntax--definition.syntax--array.syntax--json.syntax--begin,
.syntax--source.syntax--json .syntax--punctuation.syntax--definition.syntax--array.syntax--json.syntax--end {
  color: #9C09FF;
  font-weight: bold;
}
.syntax--source.syntax--json .syntax--punctuation.syntax--separator.syntax--dictionary.syntax--key-value.syntax--json {
  color: #40F709;
  font-weight: bold;
}
.syntax--source.syntax--json .syntax--punctuation.syntax--separator.syntax--dictionary.syntax--pair.syntax--json {
  color: #FFF000;
  font-weight: bold;
}
.syntax--source.syntax--json .syntax--punctuation.syntax--separator.syntax--array.syntax--json {
  color: #FFF000;
  font-weight: bold;
}
.syntax--source.syntax--lua .syntax--keyword.syntax--control {
  color: #EC0228;
}
.syntax--source.syntax--lua .syntax--keyword.syntax--operator {
  color: #EC0228;
}
.syntax--source.syntax--lua .syntax--meta.syntax--function {
  color: #FF5425;
}
.syntax--source.syntax--lua .syntax--entity.syntax--name.syntax--function {
  color: #40F709;
}
.syntax--source.syntax--lua .syntax--support.syntax--function {
  color: #268bd2;
}
.syntax--source.syntax--lua .syntax--support.syntax--function.syntax--any-method {
  color: #268bd2;
}
.syntax--source.syntax--lua .syntax--support.syntax--function.syntax--library {
  color: #FF5425;
}
.syntax--source.syntax--lua .syntax--variable.syntax--other.syntax--lua {
  color: #40F709;
}
.syntax--source.syntax--lua .syntax--variable.syntax--parameter.syntax--function {
  color: #FF5425;
}
.syntax--gfm .syntax--link .syntax--entity {
  color: #9807C3;
}
.syntax--gfm .syntax--list.syntax--ordered {
  color: #40F709;
}
.syntax--gfm .syntax--list.syntax--unordered {
  color: #E6F316;
}
.syntax--gfm .syntax--raw {
  font-style: italic;
}
.syntax--gfm.syntax--support {
  color: #66CC33;
}
.syntax--gfm.syntax--support.syntax--quote {
  color: #9807C3;
}
.syntax--markup.syntax--bold {
  font-weight: bold;
}
.syntax--markup.syntax--italic {
  font-style: italic;
}
.syntax--markup.syntax--heading {
  color: #268bd2;
}
.syntax--markup.syntax--link {
  color: #2aa198;
}
.syntax--markup.syntax--deleted {
  color: #ff0000;
}
.syntax--markup.syntax--changed {
  color: #E6F316;
}
.syntax--markup.syntax--inserted {
  color: #2aa198;
}
.syntax--syntax--source.syntax--syntax--objc .syntax--entity.syntax--name.syntax--type {
  color: #40F709;
}
.syntax--syntax--source.syntax--syntax--objc .syntax--meta.syntax--function-with-body {
  color: #9C09FF;
}
.syntax--syntax--source.syntax--syntax--objc .syntax--meta.syntax--return-type {
  color: #FF5425;
}
.syntax--syntax--source.syntax--syntax--objc .syntax--punctuation.syntax--section.syntax--scope {
  color: #fff;
}
.syntax--syntax--source.syntax--syntax--objc .syntax--punctuation.syntax--separator.syntax--arguments {
  color: #EC0228 !important;
}
.syntax--syntax--source.syntax--syntax--objc .syntax--storage.syntax--type {
  color: #268bd2;
}
.syntax--syntax--source.syntax--syntax--objc .syntax--support.syntax--class.syntax--cocoa {
  color: #268bd2;
}
.syntax--syntax--source.syntax--syntax--objc .syntax--support.syntax--function.syntax--any-method {
  color: #268bd2;
}
.syntax--syntax--source.syntax--syntax--objc .syntax--support.syntax--function.syntax--any-method.syntax--name-of-parameter {
  color: #FF5425 !important;
}
.syntax--source.syntax--perl .syntax--punctuation.syntax--definition.syntax--variable {
  color: #268bd2;
}
.syntax--source.syntax--perl .syntax--constant.syntax--character.syntax--escape {
  color: #9C09FF;
}
.syntax--source.syntax--perl .syntax--keyword.syntax--control {
  color: #EC0228;
}
.syntax--source.syntax--perl .syntax--keyword.syntax--control.syntax--regexp-option {
  color: #40F709;
  font-style: italic;
}
.syntax--source.syntax--perl .syntax--punctuation.syntax--definition.syntax--variable {
  color: #9C09FF;
}
.syntax--source.syntax--perl .syntax--string.syntax--regexp {
  color: #FF5425;
}
.syntax--source.syntax--perl .syntax--support.syntax--function {
  color: #40F709;
}
.syntax--source.syntax--perl .syntax--keyword.syntax--control.syntax--regexp-option {
  color: #40F709;
  font-style: italic;
}
.syntax--source.syntax--php .syntax--storage.syntax--type.syntax--class {
  color: #E6F316;
}
.syntax--source.syntax--php .syntax--storage.syntax--type.syntax--function {
  color: #FF5425;
}
.syntax--source.syntax--php .syntax--storage.syntax--modifier {
  color: #E6F316;
}
.syntax--source.syntax--php .syntax--entity.syntax--name.syntax--type.syntax--class {
  color: #fff;
}
.syntax--source.syntax--php .syntax--entity.syntax--name.syntax--function {
  color: #fff;
}
.syntax--source.syntax--php .syntax--entity.syntax--other {
  color: #fff;
}
.syntax--source.syntax--php .syntax--variable {
  color: #268bd2;
}
.syntax--source.syntax--php .syntax--punctuation.syntax--definition {
  color: #fff;
}
.syntax--source.syntax--php .syntax--punctuation.syntax--definition.syntax--comment {
  color: #66CC33;
}
.syntax--source.syntax--php .syntax--punctuation.syntax--definition.syntax--array {
  color: #ff0000;
}
.syntax--source.syntax--php .syntax--punctuation.syntax--definition.syntax--string {
  color: #fff;
}
.syntax--source.syntax--php .syntax--punctuation.syntax--definition.syntax--variable {
  color: #40F709;
}
.syntax--source.syntax--php .syntax--support.syntax--function.syntax--construct {
  color: #E6F316;
}
.syntax--source.syntax--php .syntax--support.syntax--function.syntax--array {
  color: #40F709;
}
.syntax--source.syntax--php .syntax--keyword.syntax--operator.syntax--class {
  color: #E6F316;
}
.syntax--source.syntax--php .syntax--keyword.syntax--operator.syntax--assignment {
  color: #40F709;
}
.syntax--source.syntax--php .syntax--keyword.syntax--other {
  color: #ff0000;
}
.syntax--source.syntax--python .syntax--entity {
  color: #1ABC9C;
}
.syntax--source.syntax--python .syntax--entity.syntax--name {
  color: #268bd2;
}
.syntax--source.syntax--python .syntax--entity.syntax--other {
  color: #268bd2;
}
.syntax--source.syntax--python .syntax--storage {
  color: #E67E22;
}
.syntax--source.syntax--python .syntax--storage.syntax--type,
.syntax--source.syntax--python .syntax--storage.syntax--function {
  color: #124AFB;
}
.syntax--source.syntax--python .syntax--storage.syntax--type.syntax--magic,
.syntax--source.syntax--python .syntax--storage.syntax--function.syntax--magic {
  color: #268bd2;
}
.syntax--source.syntax--python .syntax--storage.syntax--string {
  color: #FE0A67;
}
.syntax--source.syntax--python .syntax--storage.syntax--class {
  color: #124AFB;
}
.syntax--source.syntax--python .syntax--storage.syntax--class.syntax--todo {
  color: #EC0228;
}
.syntax--source.syntax--python .syntax--string.syntax--quoted.syntax--double.syntax--block {
  color: #459867;
}
.syntax--source.syntax--python .syntax--string.syntax--quoted.syntax--double.syntax--block.syntax--sql {
  color: #459867;
}
.syntax--source.syntax--python .syntax--block {
  color: #459867;
}
.syntax--source.syntax--python .syntax--punctuation.syntax--string {
  color: #ff0000;
}
.syntax--source.syntax--python .syntax--keyword.syntax--operator {
  color: #FFFA12;
}
.syntax--source.syntax--python .syntax--keyword.syntax--operator.syntax--quantifier {
  color: #2aa198;
}
.syntax--source.syntax--python .syntax--keyword.syntax--operator.syntax--logical {
  color: #6644CC;
}
.syntax--source.syntax--python .syntax--keyword.syntax--operator.syntax--assignment {
  color: #FFFF00;
}
.syntax--source.syntax--python .syntax--keyword.syntax--operator.syntax--comparison {
  color: #94571f;
}
.syntax--source.syntax--python .syntax--keyword.syntax--control.syntax--import {
  color: #FB5605;
}
.syntax--source.syntax--python .syntax--keyword.syntax--other {
  color: #40F709;
}
.syntax--source.syntax--python .syntax--constant.syntax--language {
  color: #935735;
}
.syntax--source.syntax--python .syntax--constant.syntax--character {
  color: #FE0A67;
}
.syntax--source.syntax--python .syntax--entity.syntax--name.syntax--type.syntax--class {
  color: #124AFB;
}
.syntax--source.syntax--python .syntax--variable {
  color: #8E44AD;
}
.syntax--source.syntax--python .syntax--support.syntax--function.syntax--builtin {
  color: #AD75FF;
}
.syntax--source.syntax--python .syntax--support.syntax--type.syntax--exception.syntax--python {
  color: #E6F316;
}
.syntax--source.syntax--python .syntax--support.syntax--type.syntax--python {
  color: #268bd2;
}
.syntax--source.syntax--python .syntax--punctuation.syntax--definition.syntax--parameters {
  color: #FD971F;
}
.syntax--source.syntax--python .syntax--punctuation.syntax--section.syntax--function.syntax--begin {
  color: #E6F316;
}
.syntax--source.syntax--python .syntax--punctuation.syntax--separator.syntax--parameters {
  color: #E6F316;
}
.syntax--source.syntax--ruby {
  color: #34AEDA;
}
.syntax--source.syntax--ruby .syntax--meta.syntax--embedded .syntax--punctuation.syntax--section {
  color: #9807C3;
}
.syntax--source.syntax--ruby .syntax--entity.syntax--inherited-class {
  color: #E6F316;
}
.syntax--source.syntax--ruby .syntax--constant.syntax--boolean {
  color: #3387CC;
}
.syntax--source.syntax--ruby .syntax--constant.syntax--other.syntax--symbol.syntax--hashkey {
  color: #B80E0E;
}
.syntax--source.syntax--ruby .syntax--instance .syntax--punctuation.syntax--definition {
  color: #FFFF00;
}
.syntax--source.syntax--ruby .syntax--support.syntax--class.syntax--ruby {
  color: #DA4939;
}
.syntax--source.syntax--ruby .syntax--class {
  color: #124AFB;
}
.syntax--source.syntax--ruby .syntax--class.syntax--control {
  color: #fff;
}
.syntax--source.syntax--ruby .syntax--module {
  color: #E6F316;
}
.syntax--source.syntax--ruby .syntax--require .syntax--keyword.syntax--other.syntax--special-method {
  color: #FF5425;
}
.syntax--source.syntax--ruby .syntax--keyword.syntax--other.syntax--special-method {
  color: #FF5425;
}
.syntax--source.syntax--ruby .syntax--keyword.syntax--other {
  color: #8ABEB7;
}
.syntax--source.syntax--ruby .syntax--keyword.syntax--control {
  color: #363FCC;
}
.syntax--source.syntax--ruby .syntax--keyword.syntax--operator {
  color: #FFFA12;
}
.syntax--source.syntax--ruby .syntax--special-method {
  color: #268bd2;
}
.syntax--source.syntax--ruby .syntax--symbol {
  color: #2aa198;
}
.syntax--source.syntax--ruby .syntax--symbol .syntax--punctuation.syntax--definition {
  color: #FFFF00;
}
.syntax--source.syntax--ruby .syntax--hashkey {
  color: #ff0000;
}
.syntax--source.syntax--ruby .syntax--hashkey .syntax--punctuation.syntax--definition {
  color: #FFFF00;
}
.syntax--source.syntax--ruby .syntax--string.syntax--regexp {
  color: #ff0000;
}
.syntax--source.syntax--ruby .syntax--todo {
  color: #EC0228;
}
.syntax--source.syntax--ruby .syntax--variable.syntax--ruby.syntax--global {
  color: #268bd2;
}
.syntax--source.syntax--ruby .syntax--variable.syntax--ruby.syntax--global .syntax--punctuation {
  color: #268bd2;
}
.syntax--source.syntax--ruby .syntax--variable.syntax--block {
  color: #268bd2;
}
.syntax--source.syntax--ruby .syntax--variable.syntax--self {
  color: #2aa198;
}
.syntax--source.syntax--ruby .syntax--variable.syntax--parameter {
  color: #0078B4;
}
.syntax--source.syntax--ruby .syntax--variable.syntax--constant {
  color: #8E44AD;
}
.syntax--source.syntax--ruby .syntax--variable.syntax--other.syntax--constant {
  color: #935735;
}
.syntax--source.syntax--ruby .syntax--numeric {
  color: #2aa198;
}
.syntax--source.syntax--ruby .syntax--punctuation.syntax--definition {
  color: #FFFA08;
}
.syntax--source.syntax--ruby .syntax--punctuation.syntax--definition.syntax--string {
  color: #ff0000;
}
.syntax--source.syntax--ruby .syntax--punctuation.syntax--definition.syntax--comment {
  color: #66CC33;
}
.syntax--source.syntax--ruby .syntax--punctuation.syntax--section.syntax--embedded {
  color: #9807C3;
}
.syntax--source.syntax--ruby .syntax--punctuation.syntax--section.syntax--scope {
  color: #FFFA08;
}
.syntax--source.syntax--ruby .syntax--punctuation.syntax--section.syntax--regexp {
  color: #ff0000;
}
.syntax--source.syntax--ruby .syntax--punctuation.syntax--separator.syntax--key-value {
  color: #FFC66D;
}
.syntax--source.syntax--ruby .syntax--string.syntax--interpolated {
  color: #52A12E;
}
.syntax--source.syntax--ruby .syntax--string.syntax--interpolated .syntax--embedded.syntax--line.syntax--ruby .syntax--punctuation .syntax--source.syntax--ruby {
  color: #FFFA08;
}
.syntax--source.syntax--ruby .syntax--string.syntax--interpolated .syntax--embedded.syntax--line.syntax--ruby .syntax--source.syntax--ruby {
  color: #E6F316;
}
.syntax--source.syntax--ruby .syntax--string.syntax--interpolated .syntax--embedded.syntax--line.syntax--ruby .syntax--source.syntax--ruby .syntax--punctuation.syntax--array,
.syntax--source.syntax--ruby .syntax--string.syntax--interpolated .syntax--embedded.syntax--line.syntax--ruby .syntax--source.syntax--ruby .syntax--punctuation.syntax--function {
  color: #E6F316;
}
.syntax--source.syntax--ruby .syntax--support.syntax--function {
  color: #fff;
}
.syntax--source.syntax--ruby .syntax--support.syntax--function.syntax--kernel {
  color: #40F709;
}
.syntax--source.syntax--scala .syntax--variable {
  color: #95A5A6;
}
.syntax--source.syntax--scala .syntax--declaration {
  color: #95A5A6;
  font-weight: bold;
}
.syntax--source.syntax--scala .syntax--comparison {
  color: #95A5A6;
}
.syntax--source.syntax--scala .syntax--class,
.syntax--source.syntax--scala .syntax--type {
  color: #E6F316;
}
.syntax--source.syntax--scala .syntax--val {
  font-weight: normal;
}
.syntax--source.syntax--scala .syntax--variable {
  font-weight: bold;
}
.syntax--source.syntax--scala .syntax--variable.syntax--parameter {
  color: #9807C3;
  font-weight: normal;
}
.syntax--source.syntax--scala .syntax--control.syntax--flow {
  color: #95A5A6;
  font-weight: bold;
}
.syntax--source.syntax--scala .syntax--constant.syntax--language {
  color: #95A5A6;
  font-weight: bold;
}
.syntax--source.syntax--scala .syntax--function.syntax--declaration {
  color: #9807C3;
}
.syntax--source.syntax--scala .syntax--modifier.syntax--other {
  font-weight: bold;
}
.syntax--source.syntax--scala .syntax--package {
  color: #95A5A6;
}
.syntax--source.syntax--scala .syntax--variable.syntax--import {
  font-weight: normal;
}
.syntax--source.syntax--scala .syntax--type .syntax--bounds,
.syntax--source.syntax--scala .syntax--type .syntax--class {
  color: #9807C3;
}
.syntax--source.syntax--scala .syntax--documentation :not(.embedded).syntax--link.syntax--entity {
  color: #268bd2;
  text-decoration: underline;
}
.syntax--source.syntax--scala .syntax--documentation :not(.embedded) .syntax--class,
.syntax--source.syntax--scala .syntax--documentation :not(.embedded) .syntax--parameter {
  color: #95A5A6;
}
.syntax--source.syntax--scala .syntax--documentation :not(.embedded) .syntax--description {
  color: #66CC33;
}
.syntax--source.syntax--scala .syntax--embedded {
  color: #6d8082;
  font-style: italic;
}
.syntax--source.syntax--scala .syntax--embedded .syntax--margin,
.syntax--source.syntax--scala .syntax--embedded .syntax--delimiters {
  font-style: normal;
}
.syntax--source.syntax--shell {
  color: #C0C0C0;
}
.syntax--source.syntax--shell .syntax--entity.syntax--name.syntax--function {
  color: #124AFB;
}
.syntax--source.syntax--shell .syntax--keyword.syntax--operator.syntax--pipe {
  color: #FF5425;
}
.syntax--source.syntax--shell .syntax--keyword.syntax--operator.syntax--logical {
  color: #FFFA12;
}
.syntax--source.syntax--shell .syntax--keyword.syntax--operator.syntax--list {
  color: #FF860B;
}
.syntax--source.syntax--shell .syntax--keyword.syntax--control {
  color: #363FCC;
}
.syntax--source.syntax--shell .syntax--punctuation.syntax--definition.syntax--arguments {
  color: #9807C3;
}
.syntax--source.syntax--shell .syntax--punctuation.syntax--definition.syntax--logical-expression {
  color: #64C605;
}
.syntax--source.syntax--shell .syntax--punctuation.syntax--terminator.syntax--case-clause {
  color: #FA4305;
}
.syntax--source.syntax--shell .syntax--support.syntax--function.syntax--builtin {
  color: #AD75FF;
}
.syntax--source.syntax--shell .syntax--support.syntax--function.syntax--coreutils {
  color: #ff0064;
}
.syntax--source.syntax--shell .syntax--support.syntax--function.syntax--extras {
  color: #3c69b4;
}
.syntax--source.syntax--shell .syntax--support.syntax--function.syntax--packages {
  color: #ffdc78;
}
.syntax--source.syntax--shell .syntax--support.syntax--function.syntax--vcs {
  color: #ffff00;
}
.syntax--source.syntax--shell .syntax--support.syntax--function.syntax--archives {
  color: #96ff14;
}
.syntax--source.syntax--shell .syntax--support.syntax--function.syntax--download {
  color: #c81414;
}
.syntax--source.syntax--shell .syntax--support.syntax--function.syntax--editors {
  color: #ff1414;
}
.syntax--source.syntax--shell .syntax--support.syntax--function.syntax--options {
  color: #1919ff;
}
.syntax--source.syntax--shell .syntax--support.syntax--function.syntax--users {
  color: #c805c8;
}
.syntax--source.syntax--shell .syntax--variable.syntax--definition.syntax--name {
  color: #78ff5a;
}
.syntax--source.syntax--shell .syntax--variable.syntax--definition.syntax--equal {
  color: #FFFA12;
}
.syntax--source.syntax--sql .syntax--constant.syntax--other.syntax--database-name {
  color: #9C09FF;
}
.syntax--source.syntax--sql .syntax--constant.syntax--other.syntax--table-name {
  color: #40F709;
}
.syntax--source.syntax--sql .syntax--keyword.syntax--operator.syntax--comparison {
  font-weight: bold;
}
.syntax--source.syntax--sql .syntax--keyword.syntax--other.syntax--case {
  color: #FF5425;
}
.syntax--source.syntax--sql .syntax--keyword.syntax--other.syntax--DML {
  color: #40F709;
}
.syntax--source.syntax--sql .syntax--keyword.syntax--other.syntax--DML.syntax--II {
  color: #EC0228;
}
.syntax--source.syntax--sql .syntax--keyword.syntax--other.syntax--LUW {
  color: #FF5425;
}
.syntax--source.syntax--xml .syntax--entity.syntax--other.syntax--attribute-name {
  color: #268bd2;
}
.syntax--source.syntax--xml .syntax--entity.syntax--tag.syntax--name {
  color: #EC0228;
}
.syntax--source.syntax--xml .syntax--entity.syntax--tag.syntax--name.syntax--localname {
  color: #9C09FF;
}
.syntax--source.syntax--xml .syntax--meta.syntax--tag {
  color: #9C09FF;
}
.syntax--source.syntax--xml .syntax--meta.syntax--tag.syntax--preprocessor {
  color: #EC0228;
}
.syntax--source.syntax--xml .syntax--punctuation.syntax--definition.syntax--tag {
  color: #40F709;
}
.syntax--entity.syntax--name.syntax--tag.syntax--localname.syntax--xml {
  color: #EC0228;
}
.syntax--source.syntax--yaml .syntax--constant.syntax--numeric {
  color: #FF0000;
}
.syntax--source.syntax--yaml .syntax--string.syntax--unquoted {
  color: #8E44AD;
}
.syntax--source.syntax--yaml .syntax--entity.syntax--name.syntax--tag {
  color: #FD971F;
}
.syntax--source.syntax--yaml .syntax--punctuation.syntax--separator.syntax--key-value {
  color: #E6F316;
}
.syntax--source.syntax--yaml .syntax--punctuation.syntax--definition.syntax--entry {
  color: #40F709;
}
