.syntax--source.syntax--ansible {
	color: @item;
  	.syntax--text {
      	color: @magenta;
  	}
  	.syntax--keyword.syntax--other.syntax--ansible {
      	color: @tag;
  	}
  	.syntax--storage.syntax--type.syntax--ansible {
      	color: @function;
    }
  	.syntax--string.syntax--quoted.syntax--double.syntax--ansible {
        color: @string;
  	}
	.syntax--comment.syntax--line.syntax--number-sign.syntax--ansible {
        color: @comment;
  	}
	.syntax--punctuation.syntax--definition.syntax--comment.syntax--line.syntax--ansible {
        color: @green;
  	}


}
