.source.ruby {
    color: @default;

  .meta.embedded {
    .punctuation.section {
      color: @parenthesis;
    }
  }

  .entity.inherited-class {
    color: @yellow;
  }

  .constant.boolean {
    color: @bool;
  }
  .constant.other.symbol.hashkey {
      color: #B80E0E;
  }
  .instance {
    .punctuation.definition {
      color: @dot;
    }
  }
  .support.class.ruby {
      color: #DA4939;
  }
  .class {
    color: @class;
    &.control {
      color: @syntax-text-color;
    }
  }
  .module {
    color: @yellow;
  }
  .require {
    .keyword.other.special-method {
      color: @orange;
    }
  }
  .keyword.other.special-method {
    color: @orange;
  }
  .keyword.other {
    color: @keyword-other;
  }
  .keyword.control {
    color: @keyword;
  }
  .keyword.operator {
    color: @operator;
  }
  .special-method {
    color: @blue;
  }
  .symbol {
    color: @cyan;
    .punctuation.definition {
      color: @dot;
    }
  }
  .hashkey {
    color: @red;
    .punctuation.definition {
      color: @dot;
    }
  }
  .string.regexp {
    color: @red;
  }
  .todo {
    color: @magenta;
  }
  .variable.ruby.global {
    color: @blue;
    .punctuation {
      color: @blue;
    }
  }
  .variable.block {
    color: @blue;
  }
  .variable.self {
    color: @cyan;
  }
  .variable {
    &.parameter {
      color: #0078B4;
    }
  }
  .variable.constant {
    color: @variable;
  }
  .variable.other.constant {
    color: #935735;
  }
  .numeric {
    color: @cyan;
  }
  .punctuation.definition {
    color: @braces;
    &.string {
      color: @red;
    }
  }
  .punctuation.definition.comment {
    color: @syntax-comment-color;
  }
  .punctuation.section.embedded {
    color: @parenthesis;
  }
  .punctuation.section.scope {
    color: @braces;
  }
  .punctuation.section.regexp {
    color: @red;
  }
  .punctuation.separator.key-value {
      color: #FFC66D;
  }
  .string.interpolated {
    color: #52A12E;
  }
  .string.interpolated {
    .embedded.line.ruby {
      .punctuation {
        .source.ruby {
          color: @braces;
        }
      }
      .source.ruby {
        .punctuation.array,
        .punctuation.function {
          color: @yellow;
        }
        color: @yellow;
      }
    }
  }
  .support.function {
    color: @syntax-text-color;
  }
  .support.function.kernel {
    color: @green;
  }
}
