.source.shell {
    color: #C0C0C0;
    .entity.name.function {
    color: @function;
    }

    .keyword.operator.pipe {
    color: @orange;
    }

    .keyword.operator.logical {
    color: @operator;
    }

    .keyword.operator.list {
    color: @semicolon;
    }

    .keyword.control {
    color: @keyword;
    }

    .punctuation.definition.arguments {
    color: @parenthesis;
    }

    .punctuation.definition.logical-expression {
    color: @brackets;
    }

    .punctuation.terminator.case-clause {
        color: #FA4305;
    }

    .support.function.builtin {
    color: @builtin;
    }

    .support.function.coreutils {
    color: rgb(255,0,100);
    }

    .support.function.extras {
    color: rgb(60,105,180);
    }

    .support.function.packages {
    color: rgb(255,220,120);
    }

    .support.function.vcs {
    color: rgb(255,255,0);
    }

    .support.function.archives {
    color: rgb(150,255,20);
    }

    .support.function.download {
    color: rgb(200,20,20);
    }

    .support.function.editors {
    color: rgb(255,20,20);
    }

    .support.function.options {
    color: rgb(25,25,255);
    }

    .support.function.users {
    color: rgb(200,5,200);
    }

    .variable.definition.name {
    color: rgb(120,255,90);
    }

    .variable.definition.equal {
    color: @operator;
    }
}
