.syntax--source.syntax--yaml {

    .syntax--constant.syntax--numeric.syntax--integer {
        color: @number;
    }
	.syntax--constant.syntax--numeric.syntax--float {
        color: @light-red;
    }

    .syntax--string.syntax--unquoted {
        color: @variable;
    }
	.syntax--string.syntax--unquoted.syntax--block {
        color: @cnst;
    }
	.syntax--punctuation.syntax--definition.syntax--string.syntax--begin.syntax--yaml,
	.syntax--punctuation.syntax--definition.syntax--string.syntax--end.syntax--yaml {
		color: @yellow;
	}
	.syntax--string.syntax--quoted.syntax--double,
	.syntax--hyperlink {
        color: @string;
    }

    .syntax--entity.syntax--name.syntax--tag {
        color: @tag;
    }

    .syntax--punctuation.syntax--separator.syntax--key-value {
      color: @punctuation
    }

    .syntax--punctuation.syntax--definition.syntax--entry {
      color: @default
    }
	.syntax--comment.syntax--line.syntax--number-sign.syntax--yaml {
        color: @comment;
		.syntax--hyperlink {
	        color: @cyan;
	    }
  	}
	.syntax--punctuation.syntax--definition.syntax--comment.syntax--yaml {
        color: @green;
  	}

}
