
// mrhex color scheme
// http://mrhex.com

// Content Tones
@base01: #586e75;
@base00: #657b83;
@base0: #839496;
@base1: #93a1a1;

@foreground: @white;
@background: @black;
@gutter: @red;
@dark: #0D0D0D;
@number: @red;
@comment: #66CC33;
@string: @hexstring;
@const: #AE81FF;
@storage: @carrot;
@tag: @light-orange;
@cursor: #F8F8F0;
@invalid: @cursor;
@invalid-bg: @red;
@class: #124AFB;
@function: #08F4FC;
@method: @purple;
@value: @asphalt;
@attribute: #E6F316;
@parameter: #FD971F;
@variable: #9807C3;
@operator: @yellow;
@property: @sky;
@invisibles: #404040;
@lineHighlight: #333300;
@selection: #73597E;
@constant: #363FCC;
@keyword: #FA4305;
@preprocessor: #D0D0FF;
@regex: #CCCC33;

// Accent Colors
@yellow: #E6F316;
@orange: #FA4305;
@red: #ff0000;
@magenta: #EC0228;
@violet: #9807C3;
@blue: #268bd2;
@cyan: #2aa198;
@green: #40F709;

// Background/Foreground
@black: #000;
@white: #fff;

// Colors
@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;
@hex-red: #B80E0E;
@hexstring: #FE0A67;
@light-red: #cc6666;
@light-blue: #81a2be;
@aqua: #18E9BB;
@dark_sky: #3387CC;
@light-cyan: #8abeb7;
@dark-green: #099302;
@light-green: #b5bd68;
@purple: #9C09FF;
@light-orange: #FD971F;
@turquois: #1ABC9C;
@sea_green: #16A085;
@emerald: #2ECC71;
@mint: #27AE60;
@sky: #5499FC;
@cnst: #3387CC;
@amethyst: #9B59B6;
@lavender: #8E44AD;
@asphalt: #34495E;
@midnight_blue: #2C3E50;
@SUN_FLOWER: #F1C40F;
@carrot: #E67E22;
@pumpkin: #D35400;
@ALIZARIN: #E74C3C;
@POMEGRANATE: #C0392B;
@brownish: #cc7833;
@clouds: #ECF0F1;
@silver: #BDC3C7;
@concrete: #95A5A6;
@asbestos: #7F8C8D;
